In [3]:
import pymysql

conn = pymysql.connect(
    host='localhost',
    user='root',
    password='AAAaaa211'
)
#创建游标对象
cursor = conn.cursor()
#创建数据库（如果不存在）
db_name = "sales_db"
create_db_sql = f"CREATE DATABASE IF NOT EXISTS {db_name} CHARACTER SET UTF8mb4 COLLATE UTF8mb4_unicode_ci;"
cursor.execute(create_db_sql)

print(f"数据库创建成功")

#关闭当前连接，连接创建的数据库
conn.close()

conn = pymysql.connect(
    host='localhost',
    user='root',
    password='AAAaaa211',
    database=db_name
)
cursor = conn.cursor()

#创建数据库表
create_db_sql = """
CREATE TABLE emp3 (
  empno bigint AUTO_INCREMENT PRIMARY KEY,  #主键不能之间添加会自动添加
  ename varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '雇员姓名',
  job varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '雇员职务',
  mgr bigint DEFAULT NULL COMMENT '雇员领导',
  hiredate datetime DEFAULT NULL COMMENT '入职日期',
  sal bigint DEFAULT NULL COMMENT '薪水',
  comm int DEFAULT NULL COMMENT '奖金',
  depto int DEFAULT NULL COMMENT '雇员所在的部门编号'
);
"""
cursor.execute(create_db_sql)
print("emp3表创建成功")
#插入数据
insert_data_sqls = """
INSERT INTO emp3 (ename, job, mgr, hiredate, sal, comm, depto) VALUES ('SMITH', 'CLERK', 7901, '2020-12-17', 800, 80, 20),
('xiaowang', 'CLERK', 7901, '2020-12-17', 800, 80, 20),
('zhangsan', 'CLERK', 7901, '2020-12-17', 800, 80, 20),
('lisi', 'CLERK', 7901, '2020-12-17', 800, 80, 20),
('xiaoming', 'CLERK', 7901, '2020-12-17', 800, 80, 20);

"""
cursor.execute(insert_data_sqls)
conn.commit()
print("数据插入成功")

cursor.close()
conn.close()

数据库创建成功
emp3表创建成功
数据插入成功

In [17]:
import pymysql
import pandas as pd 
from sqlalchemy import create_engine

#使用sqlalchemy创建连接
engine = create_engine('mysql+pymysql://root:AAAaaa211@localhost:3306/sales_db')
#从mysql读取数据
query = "SELECT * FROM emp3;"
df = pd.read_sql(query, engine)

#关闭连接
engine.dispose()
#查看前武行数据
print(df.head())
#最小值
min_emp3 = df['sal'].min()
print(f"最小薪水{min_emp3}")
#最大值
max_emp3 = df['sal'].max()
print(f"最大薪水{max_emp3}")

#均值
mean_emp3 = df['sal'].mean()
print(f"均值薪水{mean_emp3}")

#极差最大减最小
range_emp3 = max_emp3 - min_emp3
print(f"极差新水{range_emp3}")

#median中位数
median_emp3 = df['sal'].median()
print(f"中位薪水{median_emp3}")

#标准差
std_emp3 = df['sal'].std()
print(f"标准差{std_emp3}")
#方差var
var_emp3 = df['sal'].var()
print(f'方差{var_emp3}')
#协方差cov
print(df[['sal', 'comm']].dtypes)
cov_emp3 = df['sal'].cov(other=df['comm'])
print(f"协方差{cov_emp3}")
#标准误差sem
sem_emp3 = df['sal'].sem()
print(f"标准误差{sem_emp3}")
#众数mode, 样本偏度skew, 样本峰度kurt
#quantile：四分位数

quantile_emp3_1 = df['sal'].quantile(0.25)
quantile_emp3_2 = df['sal'].quantile(0.5)
quantile_emp3_3 = df['sal'].quantile(0.75)
print(quantile_emp3_1, quantile_emp3_2, quantile_emp3_3)
#count非空值数目
count_sales = df['sal'].count()
print(f"sal非空值个数{count_sales}")
print(df.describe())
#平均绝对离差
mad_emp3 = (df['sal'] - mean_emp3).abs().mean()
print(f"sal平均绝对离差{mad_emp3}")

   empno     ename    job   mgr   hiredate  sal  comm  depto
0      1     SMITH  CLERK  7901 2020-12-17  800    80     20
1      2  xiaowang  CLERK  7901 2020-12-17  800    80     20
2      3  zhangsan  CLERK  7901 2020-12-17  800    80     20
3      4      lisi  CLERK  7901 2020-12-17  800    80     20
4      5  xiaoming  CLERK  7901 2020-12-17  800    80     20
最小薪水800
最大薪水800
均值薪水800.0
极差新水0
中位薪水800.0
标准差0.0
方差0.0
sal     int64
comm    int64
dtype: object
协方差0.0
标准误差0.0
800.0 800.0 800.0
sal非空值个数5
          empno     mgr             hiredate    sal  comm  depto
count  5.000000     5.0                    5    5.0   5.0    5.0
mean   3.000000  7901.0  2020-12-17 00:00:00  800.0  80.0   20.0
min    1.000000  7901.0  2020-12-17 00:00:00  800.0  80.0   20.0
25%    2.000000  7901.0  2020-12-17 00:00:00  800.0  80.0   20.0
50%    3.000000  7901.0  2020-12-17 00:00:00  800.0  80.0   20.0
75%    4.000000  7901.0  2020-12-17 00:00:00  800.0  80.0   20.0
max    5.000000  7901.0  2020-12-17 00:00:00  800.0  80.0   20.0
std    1.581139     0.0                  NaN    0.0   0.0    0.0
sal平均绝对离差0.0